@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    transition: 0.4s ease-in-out;
    font-family: 'Fraunces', serif;    
    
}
body a{
    text-decoration: none;
}

$mainColor: #4f15ee;
$mainColor-Hover: #8a65f2;
$black:#222;
$white:#fff;
$border:.1rem solid rgba(0,0,0,.1);
$box-shadow:0 0.5rem 1rem rgba(0,0,0,.1);

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    width: 100%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1.2rem 3rem;
    background-color: $mainColor;
    color: $white;
    font-size: 1.7rem;
    font-weight: 800;
    &:hover{
        background-color: $black;
        color: $white;
    }
}
    
.heading{
    background-image: url("../image/header-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 12rem 0 8rem;
    h1{   
        color: $black;
        font-size: 3rem;
    }
    p{
        padding-top: 1rem;
        font-size: 2rem;
        color: $mainColor;
        a{
            color: $black;
            &:hover{
                color: $mainColor-Hover;
            }
        }
    }

}
.title{
    display: flex;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 1.2rem 0;
    border-bottom:$border;
    color: $black;
    span{
        color: $mainColor;
        padding-left: .7rem;
    }
    a{
        color: $black;
        margin-left: auto;
        font-size: 1.5rem;
        &:hover{
            color: $mainColor-Hover;
        }
    }
    
}

@keyframes fadeleft{
    0%{
        opacity: 0;
        transform: translateX(-6rem)
    }
}

@keyframes faderight {
    0%{
        opacity: 0;
        transform: translateX(6rem);
    }
}
@keyframes feel{
    0%{
        color: $mainColor;   
    }  
}
@keyframes color{
    0%{
        color: $black;
    } 
    50%{
        color: $mainColor;
    }
    100%{
        color: $black;
    } 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: $box-shadow;
    padding: 0 4%;
    background: $white;
    .logo{
        font-size: 2.8rem;
        font-weight: 400;
        color: $mainColor;
        i{
            color: $black;
            font-size: 4rem;
            padding-right: .3rem;
        }
    }
    .navbar{
        li{
            a{
                font-size: 1.3rem;
                margin: 0 1rem;
                color: $black;
                
                &:hover{
                    color: $mainColor;
                }    
            }
        }
    }
    .icons {
        div{
            font-size: 2rem;
            margin-left: 1.7rem;
            cursor: pointer;
            &:hover{
                color: $mainColor;
            }
        }
    }
    .search-form{
        position: absolute;
        top: 115%; right: -92rem;
        width: 50rem;
        border-radius: 5rem;
        height: 5.5rem;
        box-shadow: $box-shadow;
        &.active{
            right: 2rem;
        }
        input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0 4rem;
            border-radius: 5rem;
            font-size: 1.4rem;
            margin-right: 4rem;
            text-decoration: none;
            color: $black;
            &::placeholder{
                color: $black;
            }
        }
        label{
                content: "";
                left: 80%;  
                font-size: 2rem;
                margin-right: 1rem;
                cursor: pointer;
                &:hover{
                    color: $mainColor;
                }
        }
    }
    .shopping-cart{
        position: absolute;
        top: 115%; right: -92rem;
        width: 35rem;
        border-radius:1rem;
        background-color: $white;
        box-shadow: $box-shadow;
        border: $border;
        &.active{
            right: 2rem;
        }
        .box{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                width: 53rem;
                margin-bottom: 1.5rem;
                position: relative;
                img{
                    width:18%;
                }
                .fa-times{
                    position: absolute;
                    top: 50%;
                    right: 22rem;
                    transform: translateY(-50%);
                    font-size: 2rem;
                    cursor: pointer;
                    color: $black;
                    &:hover{
                        color: $mainColor;
                    }
                }
                .content{
                    font-size: 1.2rem;
                    color: $black;
                    padding-bottom: .5rem;
                }
                span{
                    font-size: 1.5rem;
                    color: $black;
                    font-weight: 500;
                    &.multiply{
                        color: $mainColor;
                        margin: -.2rem;
                        font-weight: 800;
                    }
                }
            }
            .total{
                text-align: center;
                font-size: 2rem;
            }
            .btn{
                width: 100%;
                text-align: center;
                
            }
        
    }
    .login-form{
        position: absolute;
        top: 115%; right: -92rem;
        width: 35rem;
        border-radius:1rem;
        background-color: $white;
        box-shadow: $box-shadow;
        border: $border;
        padding: 2rem;
        &.active{
            right: 2rem;
        }
        h3{
            font-size: 2rem;
            font-weight: 600;
            color: $black;
            text-align: center;
            text-transform: uppercase;
        }
        .box{
            margin: .7rem;
            border: $border;
            padding: 1rem 1.2rem;
            color: $black;
            width: 100%;
        }
        .remember{
            margin: .7rem;
            label{
                font-size: 1.2rem;
                color: $black;
                cursor: pointer;
                &:hover{
                    color: $mainColor;
                }
            }
        }
        p{
            color: $black;
            font-size: 1.2rem;
            padding-top: .7rem;
            a{
                color: $mainColor;
                transition: 0.4s ease-in-out;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    transition: 0.4s ease-in-out;
                    background-color: $mainColor;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
    }
}
#menu-btn{
    display: none;
}


.home{
    padding: 14rem 0;
    background: url(../image/home-section-background.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    .slides-container{
        .slide{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            margin: 0 7rem;
            display: none;
            &.active{
                display: inline-block;
            }
            .content{
                flex: 1 1 40rem;
                align-self: center;
                animation: fadeleft 3s ease-in-out ;
                span{
                    color: $white;
                    font-size: 2.8rem;
                    font-weight: 400;
                } 
                h3{
                    color: $white;
                    font-size: 3.5rem;
                    font-weight: 600;
                    margin: 1rem 0;
                }
                .btn{
                    
                    transition: 0.5s ease-in-out;
                    &:hover{
                        padding:1.2rem 12rem ;
                    }
                }  
            }
            .img{
                flex: 1 1 40rem;
                animation: faderight 3s ease-in-out ;
                img{
                    width: 100%;
                }
            }
        }
    }
    #next,
    #prev{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        border-radius: 1rem;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        color: $black;
        background-color: $white;
        box-shadow: $box-shadow;
        &:hover{
            background-color: $mainColor;
            color: $white;
        }
    }
    #next{
        right: 1rem;
    }
    #prev{
        left: 1rem;
    }
    
}
.banner-container{
    margin-bottom: 15rem;
    margin-inline: 2rem;
    .container{
        .row{
            .banner{
                position: relative;
                overflow: hidden;
                height: 22rem;
                border-radius: .5rem;
                margin: 1rem 0;
                &:hover img{
                    filter: saturate(50%);
                    transform: rotatey(180deg) scale(1.1);
                }
                &:hover .one{
                    transform: rotatey(0deg) scale(1.1);
                }
                
                img{
                    transform: rotatey(180deg);
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: .5rem;
                    box-shadow: $box-shadow;
                }
                .one{
                    transform: rotatey(0deg);
                }
                .content{
                    position: absolute;
                    top:20%;
                    left:10%;
                    width: 80%;
                    transform: translateY(-20%);
                    color: $white;
                    h3{
                        padding: .2rem 0;
                    }
                    .btn{
                        padding: .3rem .8rem;
                        font-size: 1.2rem;
                        transition: .4s ease-in-out;
                        &:hover{ 
                            padding: .1rem 1.2rem;   
                            background-color: $white;
                            color: $mainColor ;
                        }
                        
                    }
                }
                .two{
                    color: $black;
                    .btn{
                        &:hover{  
                            color: $white;
                            background-color: $black;
                        }
                        
                    }
                }
            }
        }
    }
}
.category{
    .box-container{
        padding: 1rem 0;

        .box{
            text-align: center;
            img{
                height: 15rem;
            }
            h3{
                font-size: 2rem;
                margin: 1rem 0;
                color: $black;
            }
            &:hover img{
                filter: saturate(50%) hue-rotate(20deg);
            }
            &:hover h3{
                color: $mainColor;
            }
        }
    }
}
.products{
    .container{
        .box-container{
            margin: 5rem 0 15rem;
            .row{
                .box{
                    position: relative;
                    text-align: center;
                    background-color: $white;
                    overflow: hidden;
                    border: $border;
                    box-shadow: $box-shadow;
                    
                    border-radius: 2rem;
                    &:hover .icon{
                        top: 0;
                    }
                    .icon{
                        position: absolute;
                        left: 0;
                        top: -140%;
                        height: 30rem;
                        width: 100%;
                        transition: .7s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(255, 255, 255, 0.254);
                        gap: 1rem;
                        a{
                            height: 5rem;
                            width: 5rem;
                            font-size: 2rem;
                            color: $black;
                            line-height: 5rem;                    background-color: $white;
                            box-shadow: $box-shadow;
                            transition: 0.4s ease-in-out;
                            &:hover{
                                color: $white;
                                background-color: $mainColor;
                            }
                            
                        }
                    }
                    .image{
                        height: 29.2rem;
                        width: 100%;
                        margin: .8rem 0 0 0;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-top-right-radius: 2rem;
                            border-top-left-radius: 2rem;
                        } 
                    }
                    .content{
                        height: 30%;
                        padding: 1.5rem;
                        
                        h3{
                            font-size: 2rem;                        color: $black;
                            text-transform: uppercase;
                        }
                        .price{
                            padding: .2rem;
                            font-size: 2rem;
                            color: $black;
                        }
                        .stars{
                            .fa-star{
                                font-size: 1.5rem;
                                color:$mainColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
.about{    
    padding: 5rem 0 2rem;
    .image{
        flex:1 1 40rem;
        margin-left: 2.5rem;
        img{ 
            border-radius: 2rem;
            height: 95%;
            width: 95%;   
            transform: scale(1.1);
            object-fit: cover; 
            
        } 
    } 
    .content{ 
        flex:1 1 30rem;
        padding: 1rem; 
        span{
            color: $mainColor;
            font-size: 2.2rem;
            font-weight: 600;
        } 
        h3{
            color: $black;
            font-size: 2.5rem; 
        }
        p{
            color: $black;
            font-size: 1.2rem;
            line-height: 1.5rem;
            padding: 1rem 0;
        }
    }
}  
.gallery{
    padding: 2rem 0 15rem;  
    .box-container{
        .box{  
            height: 100%;  
            position: relative;
            overflow: hidden; 
            padding: 0rem;
            border-radius: 2rem;  
            border: .7rem solid white;         
            &:hover img{
                transform: scale(1.3);
            }
            img{   
                width: 100%;    
                object-fit: cover;
                border-radius: 1.5rem;  
            }
            .icon{
                position: absolute;
                left: 0;
                right: 0;  
                bottom: 0; 
                border-bottom-left-radius: 1.5rem; 
                border-bottom-right-radius: 1.5rem; 
                text-align: center; 
                padding: 1.5rem;
                background-color: rgba(0,0,0,.7);
                color: $black;
                a{
                    font-size: 2rem;
                    color: $white;
                    padding: 0 2rem;
                    &:hover{   
                        color: $mainColor-Hover;
                    }
                }
            }
        }
    }
}
.info-container{ 
    .info{      
        margin: 2rem 0 1rem ;
        &:hover img{  
            filter: hue-rotate(10deg);
        }
        &:hover .content{
            h3{
                color: $mainColor;
            }
            p{ 
                color: $mainColor-Hover;
            }
        }
        img{
            width: 30%;
        }
        .content{   
            padding: .5rem;
            h3{     
                font-size: clamp(.8rem ,2vw , 5.7rem);
                color: $black;
            }  
            p{    
                color: $black;    
                font-size: clamp(.5rem ,1.5vw , 2.7rem); 
                letter-spacing: .1rem;  
            }
        } 
    }
}
.review{
    margin: 1.5rem 0 15rem ;  
    .box{ 
        padding: 2rem;
        border: $border;
        .user{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;     
            img{
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                object-fit: cover;
            }
            h3{ 
                font-size: 1.7rem;
                color: $black;  
                animation: feel 1.5s ease-in-out;
            }
            span{
                color: $black;
                font-size: 1.2rem;
                animation: feel 2s ease-in-out;
            }  
        }
        p{
            font-size: 1.2rem;
            color: $black;
            line-height: 2rem; 
            animation: feel 1s ease-in-out;
        }
    }
}
.blogs{
    .box-container{
        margin-bottom: 15rem ;
        .box{
            border: $border;
            padding: 1rem;
            &:hover .image img{
                transform: scale(1.2);
            }
        }
        .image{
            height: 25rem;
            overflow: hidden;
            width: 100%;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content{
            padding: 1rem .5rem ;
            .icon{
                border-bottom: $border;
                padding-bottom: .2rem;
                margin-bottom:1.2rem;
                display:flex;
                align-items: center;
                justify-content: space-between;
                a{
                    font-size: 1.2rem;
                    color:$black;
                    &:hover{
                        color:$mainColor;
                    }
                    i{
                        color:$mainColor;
                        font-size: 1.5rem;
                        animation: color 2s ease-in-out infinite;
                    } 
                }
            }
            .info{
                h3{
                    font-size: 1.7rem;
                    font-weight: 900;  
                    color: $black;
                }   
                p{
                    font-size: 1.2rem;
                    color: $black;
                    padding: 1rem 0;
                    line-height: 1.5rem;
                }  
                .btn{
                    width: 100%;

                }
            }
        }
    }
}
.contact{ 
    margin: 1.5rem 0 15rem ;  
    .icon-container{
        .icon{
            text-align: center;
            padding: 1rem;
            border: $border;  
            i{
                font-size: 2rem;
                height: 5rem;
                width: 5rem;
                line-height: 5rem;
                border-radius: 50%;
                color:$white;
                background-color: $mainColor;
            } 
            h3{
                color:$black;
                font-size: 2rem;
                padding: 1rem 0;
            }
            p{
                color:$black;
                font-size: 1.2rem;   
                line-height: 2rem;
                padding: .1rem 0;
            }
        }
    }
    .roww{
        margin-top: 1.5rem;
        gap: 1.5em;
        form{
            flex:1 1 40rem;
            padding: 1rem;
            border-radius: 1rem;
            border: $border;
            h3{
                font-size: 3rem;
                padding-bottom: 1rem;
                color: $mainColor;
                text-align: center;
            }
            .input-box{
                input{
                    border-radius: 1rem;
                    width: 49%;
                }
            }
            .input-box .box, textarea{
                    padding: 1rem 1.2rem;
                    font-size: 1.6rem;
                    border:$border;
                    color: $black;
                    text-transform: none;
                    margin: .7rem 0;
                
            }
            textarea{
                border-radius: 1rem;
                width: 100%;
                height: 15rem;
                resize: none;
            }
            .btn{
                width: 100%;
            }
        }
        .map{
            flex:1 1 40rem;
            border-radius: 1rem;
            width: 100%;
        }
    }
}







































footer{
    position: relative;
    width: 100%; 
    min-height: 10rem;
    background-color:$black;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .social{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        li{
            list-style: none;
            a{
                font-size: 3rem;
                color: $white;
                margin: 0 10px;
                transition: 0.3s ease-in-out;
                opacity: 0.9;
                display: inline-block;
                &:hover{
                    transform: translate(2px,-10px);
                    color: $mainColor-Hover;
                    opacity: 1;
                }
            }
        }
    }
    .link{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
        a{
            text-decoration: none;
            font-size: 1.3rem; 
            color: $white;
            margin: 0px 1rem;
            transition: 0.3s ease-in-out;
            opacity: 0.75;
            display: inline-block;
            transition: 0.5s;
            &:hover{
                transform: translate(2px,-5px);
                color: $mainColor-Hover;
                opacity: 1;
            }
        }
    }
    p{
        color: $white;
        text-decoration: none;
        margin: 2rem 0 1rem 0;
        font-size: 1rem;
        letter-spacing: 0.01em;
        transition: 1s ease-in-out;
        &:hover{
            color: $mainColor-Hover;
            letter-spacing: 0.3em;
        }
    }
    .wave{
        position: absolute;
        top: -80px;
        left: 0;
        width: 100%;
        height: 100px;
        background:url(../image/wave.png);
        background-size: 1000px 100px;
        &#wave1{
            z-index: 999;
            filter: saturate(0) brightness(0.275);
            opacity: 1;
            bottom: -3rem;
            animation: animateWave1 4s linear infinite;
        }
        &#wave2{
            filter: hue-rotate(50deg) ;
            z-index: 88;
            opacity: 0.5;
            bottom: 10px;
            animation: animateWave2 4s linear infinite;
        }
        &#wave3{
            filter: hue-rotate(70deg)  brightness(1);
            z-index: 88;
            opacity: 0.8;
            bottom: 10px;
            animation: animateWave3 6s linear infinite;
        }
        &#wave4{
            filter: hue-rotate(60deg) brightness(1);
            z-index: 77;
            opacity: 0.9;
            bottom: 15px;
            animation: animateWave4 3s linear infinite;
        }
    }
    @keyframes animateWave4{
        0%{
            background-position-x: 1000px;
        }
        100%{
            background-position-x: 0px;
        }
    }
    @keyframes animateWave3{
        0%{
            background-position-x: 0px;
        }
        100%{
            background-position-x: 1000px;
        }
    }
    @keyframes animateWave1{
        0%{
            background-position-x: 1000px;
        }
        100%{
            background-position-x: 0px;
        }
    }    
    @keyframes animateWave2{
        0%{
            background-position-x: 0px;
        }
        100%{
            background-position-x: 1000px;
        }
    }
}
// media
@media (769px <= width <= 991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}
@media ( width <= 769px) {

    #menu-btn{
        display: inline-block;
    }
    .header{

        .search-form{
            width: 90%;
            border-radius: 4rem;
            right: -92rem;
            &.active{
                right: 0rem;
            }
        }

        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            width: 100%;
            clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
            background-color: $white;
            &.active{
                transition: 0.5s ease-in-out;
                clip-path: polygon(0 0, 100% 0 , 100% 100% , 0 100%);
            }
            ul{
                width: 100%;
                margin: 0 !important;
                padding: 0 ;                box-shadow: $box-shadow;
                flex-direction: column;
                background-color: $black;
                li{
                    margin: 1rem 0;
                    padding: 1rem 5rem;
                    a{
                        color: $white;
                        font-size: 1.2rem;
                    }
                }
            }
            
        }
    }
    .home{
        .slides-container{
            margin: 10rem 0 ;

        }
        .slide{
            .content{
                flex: 1 1 10rem;
                text-align: center;
                margin-bottom: 4rem;
                span{
                    font-size: 10rem;
                }
                h3{
                    font-size: 15rem;
                    
                }
            }
            .img{
                flex: 1 1 10rem;
                margin: auto !important;
                img{
                    width: 80%;
                    
                }
            }
        }
        #next,
        #prev{
            top:40%;
            transform: translateY(-40%);
        }
    } 
}
@media ( width <= 450px) {
    html{
        font-size: 50%;
    }
    footer{
        .link{
            a{
                font-size: 1.2rem;

            }
        }
    }
}